<link rel="stylesheet" href="home.component.css">
<header class="headers">   
<div class="wrapper">
<div class="logo">CORONAVIRUS</div>
<nav>
<a href="news">News</a>
<a href="login">Login Journalist</a>
</nav>
</div>
</header>
<div class="caja1"></div>
