<link rel="stylesheet" href="rnews.component.css">
<header class="headers">
<div class="wrapper">
<div class="logo">CORONAVIRUS NEWS</div>
<nav>
<a href="cnews">News</a><a href="">Back</a>
</nav>
</div>
</header>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css">
<div class="wrapper"></div>
<div class="container">
<div class="card">
<div class="card-header">
<div class="card-body">
<br>
<table class="table table-hover" style="text-align: center;">
<thead> 
    <tr>
    <th>Id</th> 
    <th>Text News</th>
    <th>Id Notifier</th>
    <th>Functions</th>
    </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let n of newses" class="text-center">
    <td >{{ n.idnews }}</td>
    <td>{{ n.newstext }}</td>
    <td>{{ n.idnotifierid }}</td>
    <td>
    <button (click) = "edit(n)" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></button>
    <button (click) = "delete(n)" class="btn btn-danger" style="margin-left: 10px;"><span class="glyphicon glyphicon-trash"></span></button>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
</div>
