<link rel="stylesheet" href="cnews.component.css">
<header class="headers">
<div class="wrapper">
<div class="logo">CORONAVIRUS  NEW NEWS</div>
<nav>
<a href="">Back</a>
</nav>
</div>
</header>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css">
<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-body" style="text-align: right;">
                <form action="">
                   
                    <div class="form-group" style="text-align: center;">
                        
                        <div class="alert alert-warning" *ngIf='LoginEmpty'>{{emptyMessage}}</div>
                        <label for="name" >Text:</label>
                        <input #text type="text" name="text" class="form-control" style="text-align: center;" placeholder="news text" >
                    </div>
                    <button (click)="save(text.value)" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Save</button>
                </form>
            </div>
        </div>
</div>
