.wrapper{
    margin: 55px;
}
.caja1{
    widows: 500;
    height: 800px;
    background-image: url("src\assets\covid.jpg");
    background-attachment: fixed;
  
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrarCaja {
    position: relative !important;
    top: 100% !important;
    left:150%  !important;
    transform: translate(45%, 45%)!important;
}


