
<div class="caja1"></div>

    <br>
    
  
     <div class="texto-encima">
      
          <div class="centrarCaja">
            <h1 class="text-center">Journalist Login</h1>
        <form class="form-group" >
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='pass'>{{passMessage}}</div>
          <div class="alert alert-warning" *ngIf='loginEmpty'>{{emptyMessage}}</div>
          <div class="form-group">
            <label for="email" class="text-center"><h4>ID:</h4></label>
            <input type="number" class="form-control" id="username" [(ngModel)]="username"  placeholder="Enter id" name="username">
          </div>
          <div class="form-group">
            <label for="pwd" class="text-center"><h4>Password:</h4></label>
            <input type="password" class="form-control" [(ngModel)]="password"  id="pass" placeholder="Enter password"
              name="password">
          </div>
          <button  (click)=handleLogin(username,password)  class="btn btn-success btn-lg btn-block">Login</button>
        </form>
        
      </div>
    </div>
