<link rel="stylesheet" href="news.component.css">
    <header class="headers">
        <div class="wrapper">
            <div class="logo">CORONAVIRUS</div>
                <nav>
            <a href="">Back</a>
        </nav>
    </div>
</header>
<div class="wrapper"></div>
<div class="col-md-6 inline-block">
<div class="card-header">
<div class="container"><h5 style="width: auto;text-align: center;">Contador: {{counter}}</h5></div>
<div class="card-body">
<br>
<table class="table table-hover" style="text-align: center;">
<thead> 
    <tr>
    <th>Id</th>
    <th>Text News</th>
    <th>Id Notifier</th>
    
</tr>

    </thead>
    <tbody> 
    <tr *ngFor="let n of dataListNews" class="text-center">
    <td >{{ n.idnews }}</td>
    <td>{{ n.newstext }}</td>
    <td>{{ n.idnotifierid }}</td>
    
    </tr>
    
    
    </tbody>
    
    </table>

    </div>
</div>

</div>
<div class="col-md-3 inline-block">
    <table class="table table-hover" style="text-align: center;">
 
        <div class="chart-container">
        <div class="chart-size-monitor">
        <div class="charjs-size-monitor">  
        <div class="charjs-size-monitor-expand">   
        <div class></div></div>
        <div class="chartjs-size-monitor-shrink">
        <div class></div>
        </div>
        </div>    
    
    <canvas id="barChart" width="500" height="250" class="chartjs.render.monitor" style="display: block; width: 500px; height: 250px"></canvas>
            
        </div>
        
    </div>  
    </table>
</div>

