
.chart-container {
    width: 600px;
    margin-left: 40px;
    margin-right: 40px;
}
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
.chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
}

.element.style {
    display: block;
    width: 500px;
    height: 250px;
}

header{
    width: 100%;
    overflow: hidden;
    background:#252932;
margin-bottom: 20px;


}
.wrapper{
    width:90%;
    max-width: 1000px;
    margin:auto;
    overflow:hidden;

}
header .logo{
    color: #f2f2f2;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

header nav{
    float:right;
    line-height: 200px;

}
header nav a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover{
    background: #f56f3a;
    border-radius: 50px;
}
.headers {
    position: -ms-page;
    height:100px;

}
.headers .logo {
line-height:100px;
font-size:30px;

}
.headers nav{
    line-height:100px;
    
}
.inline-block{
    float: left;
    display: inline-block;
    margin-right: -40px;
}
